<h1><%=@patient.name%>'s Appointments</h1>
<% @patient.appointments.each do |appt| %>
    <li><%= appt.appointment_datetime.strftime("%B %d, %Y at %k:%M")%> with Doctor <%= link_to appt.doctor.name, doctor_path(appt.doctor)%></li>
<% end %>