<h1><%= @doctor.name %>, <%=@doctor.department%></h1>
<h3>Appointments</h3>
<% @doctor.appointments.each do |appt| %>
    <li><%= appt.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>, <%= link_to appt.patient.name, patient_path(appt.patient)%></li>
<% end %>